<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rails Recurly.js Sample Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <% unless current_user %>
          <li><a href="#">Sign In</a></li>
          <% end %>
        </ul>
        <h3 class="text-muted"><%= link_to 'SuperSaaS', '/' %></h3>
      </div>
      <%= yield %>
      <div class="footer">
        <p>&copy; Acme Corp 2013</p>
      </div>
    </div>
  </body>
</html>